*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: darkslategrey;
}

section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-calculadora{
    background-color: #353535;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #464646;
    max-width: 400px;
}

#visor{
    width: 360px;
    height: 100px;
    font-family: "Roboto", sans-serif;
    resize: none;
}

.div-visor{
    margin-bottom: 15px;
}

.teclas-area{
    border-top: 2px #222222 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    
}

.botao{
    width: 50px;
    margin: 2px;
    background-color: rgb(24, 97, 255);
    color: white;
    padding: 5px;
    border: none;
    box-shadow: 0px 2px 0px #222222;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

.teclas-letra{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
}

.teclas-especiais{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#botao-apagar{
    background-color: red;
}
#botao-limpar{
    background-color: orange;
}

